
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    margin: 0 auto;
}
.button01{
    background-color:#f66f6a;
    color:white;
    width: 400px;
    height: 45px;
    border:0;
    font-size: 16px;
    box-sizing: content-box;
    border-radius: 5px;
}
.button01:hover{
    background-color: #a54b4a;
}